extends ../layout

block content
        div.bs-example
            form.form-horizontal(role="form", method="POST")
                div.form-group
                    label(for="#{inputVersion}") API version
                    input.form-control(placeholder="please enter your API version name.",id="#{inputVersion}",name="#{inputVersion}")
                div.form-group
                    div.text-danger #{error}
                    div.text-success #{success}
                div.form-group
                    button.btn.btn-primary submit

            blockquote
                small Tips
                p 添加一个
                    span.text-info(style="padding:5px")    api
                    版本 是一个路由版本的集合。例如我添加一个
                    span.text-info(style="padding:5px")    v1
                    那么它的访问路径就是
                    span.text-info(style="padding:5px")    /api/v1/.
